<style>
    .navbar{
        display:flex;
        justify-content: space-between;
        background-color: var(--dark_blue);
    }
</style>
<nav class="navbar navbar-expand-lg navbar navbar-dark">
    <span>
        <span class="navbar-brand">Application Hopital</span>
        <a class="navbar-brand" href="/recherchePatients">Liste des patients</a>
        <a class="navbar-brand" href="/gererPatients">Gérer les patients</a>
        <a class="navbar-brand" href="">Gérer les utilisateurs</a>
    </span>
    <span>
        <a class="navbar-brand" href="/">Déconnexion</a>
    </span>

</nav>