<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <title>Application Hôpital</title>
    </head>
    <body>
        <style>
            body{
                overflow: hidden;
            }
            :root{
                --grey:#E0E1DD;
                --dark_blue:#1B263B;
                --light_blue:#778dae;
            }
            .fond{
                background-image: url("https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/04/24/node_764090/47356788/public/2020/04/24/B9723299169Z.1_20200424155740_000%2BG8GFU2BTF.1-0.jpg?itok=x1DwPsea1591893613");
                height:95vh;
                width:100vw;
                background-attachment:fixed;
                background-repeat:no-repeat;
                background-size:cover;
            }
            .fond-color{
                background-color: rgba(255,255,255,0.8);
                height:100%;
            }
            /*connexion Formulaire */
            .login_contain{
                display:flex;
                height:90vh;
                justify-content: center;
                align-items: center;
            }
            .login-wrapper{
                display:flex;
                flex-direction: column;
                background-color: var(--light_blue);z
                width:20vw;
                padding:1vw;
                border-radius: 5px;
            }
            .form_login{
                display:flex;
                flex-direction: column;
                width:15vw;
                height: auto;
            }
            .submit{
                width:10vw;
            }
        </style>
        {% include 'template/header.html.twig' %}
        <div class="fond">
            <div class="fond-color">
                <div class="login_contain">
                    <div class="login-wrapper">
                        <h1>Connexion:</h1>
                        <div class="form_login">
                            <label for="id_input">
                                Identifiant:
                                <input id="id_input" type="text" class="form-control" placeholder="saisissez votre identifiant">
                            </label>
                            <label for="password_input">
                                Mot de passe:
                                <input id="password_input" type="password" class="form-control" placeholder="saisissez votre mot de passe">
                            </label>
                            <div class="submit">
                                <input type="submit" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


